//Custom variables:

//Color
$primary: #5265E1;
$secondary: #FA5959;

//Font-Family:
$font-family-base: 'Montserrat', sans-serif;

//Button:
$font-family-base: 'Montserrat', sans-serif;
$btn-font-size: 12px;

//image:
$primary-border-subtle: $primary;

//shadow
$box-shadow:                  0 .5rem 1rem rgba($primary, .15);


@import "../node_modules/bootstrap/scss/bootstrap";




