//Custom variables:

//Color
$primary: #5265E1;
$secondary: #FA5959;


//Font-Family:
$font-family-base: 'Montserrat', sans-serif;

//Button:
$font-family-base: 'Montserrat', sans-serif;
$btn-font-size: 12px;

//image:
$primary-border-subtle: #5265E1;

//media query


@import "../node_modules/bootstrap/scss/bootstrap";

